@model bangazon_inc.Models.OrderDetail

@{
    ViewBag.Title = "Index";
}

<h2>Order Detail</h2>
@{
    for (int i = 0; i < ViewBag.OrderDetails.Count; i++)
    {
        <p>@ViewBag.OrderDetails[i].Product.Name</p>
        <p>@ViewBag.OrderDetails[i].Product.Price</p>
        <p>@ViewBag.OrderDetails[i].Product.Description</p>
    }
}
